version: "3"

services:
  app1:
    build:
      context: .
      dockerfile: ./app1/Dockerfile
    ports:
      - "5001:5001"
    restart: unless-stopped

  app2:
    build:
      context: .
      dockerfile: ./app2/Dockerfile
    ports:
      - "5002:5002"
    restart: unless-stopped
