name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ec2key
        chmod 600 ~/.ssh/ec2key
        echo -e "Host *\n    StrictHostKeyChecking no" > ~/.ssh/config

        - name: Deploy to EC2 + Show Logs
      run: |
        ssh -i ~/.ssh/ec2key ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd ~/APPY

          echo "----- Pulling latest code -----"
          git reset --hard
          git pull

          echo "----- Stopping old containers -----"
          docker compose down --remove-orphans

          echo "----- Rebuilding fresh images -----"
          docker compose build --no-cache

          echo "----- Starting containers -----"
          docker compose up -d

          echo "----- Docker Status -----"
          docker ps

          echo "----- Last 40 logs from app1 -----"
          docker compose logs app1 --tail 40

          echo "===== DEPLOY DONE ====="
        EOF
