name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ec2key
        chmod 600 ~/.ssh/ec2key
        echo -e "Host *\n    StrictHostKeyChecking no" > ~/.ssh/config

    - name: Deploy to EC2
      run: |
        ssh -i ~/.ssh/ec2key ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          set -e
          cd ~/APPY

          echo "----- Updating Code from GitHub -----"
          git pull origin main

          echo "----- Stop old containers -----"
          docker compose down --remove-orphans || true

          echo "----- Rebuild with NO CACHE -----"
          CACHEBUST=$(date +%s) docker compose build --no-cache

          echo "----- Start containers -----"
          docker compose up -d

          echo "----- Show latest logs -----"
          docker compose logs app1 --tail 40
        EOF
