name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ec2key
        chmod 600 ~/.ssh/ec2key
        echo -e "Host *\n    StrictHostKeyChecking no" > ~/.ssh/config

    - name: Deploy to EC2 + Logs
      run: |
        ssh -i ~/.ssh/ec2key ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd ~/APPY

          echo "----- Fetch latest code -----"
          git fetch --all
          git reset --hard origin/main

          echo "----- Stop containers -----"
          docker compose down --remove-orphans

          echo "----- REBUILD (NO CACHE) -----"
          export CACHEBUST=$(date +%s)
          docker compose build --no-cache

          echo "----- Start containers -----"
          docker compose up -d

          echo "----- Logs (app1) -----"
          docker compose logs app1 --tail 50
        EOF
