name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ec2key
        chmod 600 ~/.ssh/ec2key
        echo -e "Host *\n    StrictHostKeyChecking no" > ~/.ssh/config

    - name: Deploy to EC2 + Logs
      run: |
        ssh -i ~/.ssh/ec2key ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd ~/APPY

          echo "----- PULLING LATEST CODE -----"
          git fetch --all
          git reset --hard origin/main

          echo "----- STOPPING OLD CONTAINERS -----"
          docker compose down --remove-orphans

          echo "----- REBUILDING IMAGES -----"
          export CACHEBUST=$(date +%s)
          docker compose build

          echo "----- STARTING APPS -----"
          docker compose up -d

          echo "----- CHECKING STATUS -----"
          docker ps

          echo "----- APP1 LOGS -----"
          docker compose logs app1 --tail 50
        EOF
