name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Add SSH private key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/github_actions_key
          chmod 600 ~/.ssh/github_actions_key

      - name: Disable host key checking
        run: |
          echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Install ZeroTier
        run: |
          curl -s https://install.zerotier.com | sudo bash
          sudo systemctl start zerotier-one

      - name: Join ZeroTier network
        run: |
          sudo zerotier-cli join "${{ secrets.ZT_NETWORK }}"
          sleep 10
          sudo zerotier-cli listnetworks

      - name: Deploy via SSH
        run: |
          ssh -i ~/.ssh/github_actions_key dani@${{ secrets.ZT_IP }} << 'EOF'
          cd ~/APPY
          git pull
          docker compose down || true
          docker compose up --build -d
          EOF
